
/**
 * Main site styles for Angular IVH Treeview
 *
 * @copyright 2015 iVantage
 */

.tab-content {
  padding-top: 10px;
}

.twistie.glyphicon {
  margin-right: 3px;
}

pre {
  font-size: smaller;
}

.jumbotron {
  background-image: url('/assets/img/symphony.png') !important;
}
