
/**
 * Main site styles for Angular IVH Treeview
 *
 * @copyright 2015 iVantage
 */

.tab-content {
  padding-top: 10px;
}

.twistie.glyphicon {
  margin-right: 3px;
}

pre {
  font-size: smaller;
}

.jumbotron {
  background-image: url('assets/img/symphony.png') !important;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-transition: background-color 600ms linear;
  -moz-transition: background-color 600ms linear;
  -o-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}

.highlight {
  background-color: lemonchiffon;
}

/**
 * Silly tree node template
 */
.silly-node {
  border-top: 1px solid #eee;
}

.silly-node input.silly-label {
  border: none;
  padding: 3px 2px;
}

.silly-node input.silly-label:focus {
  background-color: yellow;
}

.silly-ascii-box,
.silly-node .silly-twistie {
  cursor: pointer;
  font-family: monospace;
}

.silly-ascii-box .x {
  color: red;
}

.silly-ascii-box .y {
  color: green;
}
