ul.ivh-treeview {
  list-style-type: none;
  padding-left: 0;

  ul.ivh-treeview {
    padding-left: 15px;
  }

  .ivh-treeview-toggle {
    cursor: pointer;
  }

  .ivh-treeview-node-leaf .ivh-treeview-toggle {
    cursor: auto;
  }
}
